/* Стили для основного контента */
* {
    font-family: 'Montserrat', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #327882;
    margin-bottom: 60px;
    overflow-x: hidden;
    background: linear-gradient(45deg, #87b9c7, #487a8c); /* Градиентный фон с адаптированными цветами */
}

main {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container {
    border-radius: 50px;
    margin-top: 20px;
    max-width: 50% !important;
    overflow-x: auto;
    padding: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Тень */

    background-color: #327882;
    overflow-y: hidden;
    overflow-x: hidden;
}

    .container::-webkit-scrollbar {
        height: 12px;
    }

    .container::-webkit-scrollbar-thumb {
        background-color: #327882;
        border-radius: 6px;
    }

    .container::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        border-radius: 6px;
    }



.horizontal-select {
    display: flex;
    align-items: center;
}

    .horizontal-select label {
        margin-right: 5px;
    }

    .horizontal-select select {
        margin-right: 10px;
    }
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-group {
    flex-grow: 1;
    padding-right: 5px;
    padding-left: 5px;
}
